.flex-padre {
    display: flex;
    flex-direction: row;

}

.flex-hijo {
    background-color: rgb(148, 40, 40);
    padding: 10px;
    border-radius: 100%;
}

.flex-padre2 {
    display: flex;
    flex-direction: row-reverse;

}

.flex-padre3 {
    display: flex;
    flex-direction: column;

}

.flex-padre5 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(35, 169, 169);
    width: 100px;
}

.flex-padre6 {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(73, 35, 169);
    width: 100px;
}

.nav {
    background-color: rgb(81, 81, 81);
    padding: 10px;
    border-radius: 10px;
    border-bottom: 4px solid #3a3a3a;
    width: 500px;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
    flex-wrap: wrap;
}

.nav ul li {
    background-color: rgb(102, 148, 233);
    padding: 5px 10px 5px 10px;
    margin: 3px;
    border-radius: 15px;
    border-bottom: 4px solid rgb(75, 106, 164) ;
    font-size: 15px;
}

.nav ul li a {
    color: bisque;
    text-decoration: none;
}