#grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav servicios aside"
        "nav productos publicidad"
        "foot foot foot"
    ;
    grid-template-rows: 200px 300px 300px 150px;
    grid-template-columns: 300px 1000px 250px;
    row-gap: 5px;
    column-gap: 5px;
    height: 100vh;
}

.border {
    border: 2px solid black;
}

.header {
    grid-area: header;
    background-color: rgb(112, 255, 207);

}

.nav {
    grid-area: nav;
    background-color: rgb(180, 8, 177);

}

.servicios {
    grid-area: servicios;
    background-color: rgb(17, 17, 232);

}

.productos {
    grid-area: productos;
    background-color: rgb(17, 164, 232);

}

.publicidad {
    grid-area: publicidad;
    background-color: rgb(16, 121, 51);

}

.aside {
    grid-area: aside;
    background-color: rgb(244, 159, 12);

}

.foot {
    grid-area: foot;
    background-color: rgb(232, 17, 17);

}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav ul li {
    font-size: 30px;
}

@media screen and (min-width: 460px) {
    #grid {
        grid-template-columns: 200px;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "productos productos productos"
            "servicios servicios servicios"
            "publicidad publicidad publicidad"
            "foot foot foot"
        ;
    }
    .nav ul {
        flex-direction: row;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
    #grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "productos productos productos"
            "servicios servicios servicios"
            "publicidad publicidad publicidad"
            "foot foot foot"
        ;
    }

    .nav ul {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header header header"
            "nav productos productos"
            "nav servicios servicios"
            "foot foot foot"
        ;
    }
}

@media print {
    #grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header header header"
            "nav productos productos"
            "nav servicios servicios"
            "foot foot foot"
        ;
    }
}

@media screen and (min-width: 1200px) {
    #grid {
        grid-template-areas:
            "header header header"
            "nav productos publicidad"
            "nav servicios publicidad"
            "foot foot foot";
        grid-template-rows: 1fr 2fr 2fr 1fr;
        grid-template-columns: 300px 1000px 300px;
        justify-content: center;
        align-content: center;
        ;
    }

    .nav ul {
        flex-direction: column;
    }
}