*{
    margin: 0px;
    padding: 0px;
}

.enlaces {
    text-decoration: none;
    list-style-type: none;
    font-style: italic;
    list-style: none;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.enlaces,
li,
a {
    text-decoration: none;
    list-style-type: none;
    font-style: italic;
    color: rgb(50, 214, 192);
    list-style: none;
    display: inline-block;

}

.enlaces,
li,
a {
    text-decoration: none;
    list-style-type: none;
    font-style: italic;
    color: rgb(50, 214, 192);
    list-style: none;
    display: inline-block;

}

.enlaces:hover {
    text-decoration: none;
    list-style-type: none;
    font-size: 27px;
    transition: 0.5s;
    font-style: italic;
    color: rgba(0, 0, 0);
    list-style: none;
    display: inline-block;
}

.pie {
    background-color: rgb(50, 214, 192);
    border-color: rgb(50, 214, 192);
    border-radius: 15px;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Cormorant SC', serif;
}

.entrada {
    background-color: aquamarine;

}

.cajadatos {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(50, 214, 192);
}

#botonform {
    border: 3px solid rgb(50, 214, 192);
    font-size: 20px;
    display: inline;
}

#botoncontacto {
    border: 3px solid rgb(50, 214, 192);
    font-size: 20px;
    display: inline-block;
}

.menuarriba {
    float: inline-start;
    position: fixed;
    top: 5px;
    border-radius: 15px;
    border: 2px solid rgb(50, 214, 192);
    background-color: rgb(133, 146, 133);
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* GRID */

#grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav productos publicidad"
        "nav productos publicidad"
        "nav foot foot"
    ;
    grid-template-rows: 250px 600px 180px;
    grid-template-columns: 300px 1000px 10px;
    row-gap: 7px;
    column-gap: 7px;
    height: 100vh;
    margin-bottom: 25px;
}

.border {
    border: 2px solid black;
}

.productos {
    grid-area: productos;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    max-width: 930px;
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

.productos p {
    width: auto;

}

.cajadatos {
    padding-left: 10px;
    padding-bottom: 10px;
}
.cajacontacto {
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(50, 214, 192);
}

.divgaleria {
    display: flex;
    flex-wrap: wrap;
}

.prodgaleria {
    margin-right: 2px;
    margin-left: 2px;
}

.parrafo {
    display: flex;
    flex-wrap: wrap;
}


.foot {
    grid-area: foot;
    background-color: rgb(50, 214, 192);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;

}

.nav {
    grid-area: nav;
    background-color: rgb(169, 169, 169);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;

}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav ul li {
    font-size: 30px;
}

@media screen and (min-width: 460px) {
    #grid {
        grid-template-columns: 220px;
        grid-template-areas:
            "header header header"
            "productos productos productos"
            "nav nav nav"
            "foot foot foot";
        row-gap: 7px;
        column-gap: 7px;
        justify-content: center;
        align-content: center;
    }

    .nav {
        max-width: 1 fr;
        max-height: auto;
    }

    .nav ul {
        flex-direction: row;
    }

    .productos {
        max-width: 1fr;
        max-height: auto;
    }

    .foot {
        max-width: 1fr;
        max-height: auto;
    }

    .header{
        max-width: 1fr;
        max-height: auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
    #grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header header header"
            "nav productos productos"
            "nav productos productos"
            "nav foot foot";
        ;
    }

    .nav ul {
        flex-direction: column;
    }

}


@media screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header header header"
            "nav productos productos"
            "nav productos productos"
            "nav foot foot";
        ;
    }

    .nav ul {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    #grid {
        grid-template-areas:
            "header header header"
            "nav productos productos"
            "nav productos productos"
            "nav foot foot";
        grid-template-rows: 200px 600px 150px;
        grid-template-columns: 300px 1000px;
        justify-content: center;
        align-content: center;
        ;
    }

    .nav ul {
        flex-direction: column;
    }
}

@media print {
    #grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header header header"
            "nav productos productos"
            "nav productos productos"
            "nav foot foot";
        ;
    }
}


/* The animation code */
@keyframes foot {
    0%   {color: rgb(8, 8, 8);}
    25%  {color: rgb(255, 255, 255);}
    50%  {color: rgb(0, 0, 0);}
    100% {color: rgb(255, 255, 255);}
  }
  
  
  /* The element to apply the animation to */
  .animacion {
    animation-name: foot;
    animation-duration: 4s;
    animation-iteration-count: infinite;     
  }